@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap');


:root {
    --primary-color: #ff9800;
    --secondary-color: #ffb74d;
    --background-color: #f5f5f5;
    --text-color: #333333;
}
body {
    font-family: 'BBH Bogle', sans-serif;
    margin: 0;
    background-color: var(--background-color);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 50px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color);
    color: var(--text-color);
}

header h1 {
    margin-bottom: 10px;
    font-size: 48px;
    animation: fadeInDown 1s;
}

header p {
    font-size: 20px;
    animation: fadeInDown 1s;
}

.input-section {
    background-color: var(--primary-color);
    padding: 30px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1s;
}

.input-section h2 {
    margin-bottom: 20px;
}

#workout-form input {
    width: calc(50% - 10px);
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

#workout-form input:invalid {
    border-color: red;
}

#workout-form button {
    display: block;
    background-color: #ffcc80;
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    margin: 10px 5px 0;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#workout-form button:hover {
    background-color: var(--secondary-color);
}

.total-calories {
    margin-top: 20px;
    text-align: center;
}

.total-calories h3 {
    font-size: 24px;
    margin: 0;
}

.workout-list {
    margin-top: 40px;
}

.workout-list h2 {
    margin-bottom: 20px;
}

#workouts li{
    background-color: #ffe0b2;
    padding: 15px;
    margin-bottom: 10px;
    border-left: 5px solid var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#workouts li .delete-btn {
    background-color: #e74c3c;
    color: white;
    font-size: larger;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#workouts li .delete-btn:hover {
    background-color: #c0392b;
}

.chart-section {
    margin-top: 50px;
}

.chart-section h2 {
    margin-bottom: 20px;
    text-align: center;
}

#caloriesChart {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    #workout-form input {
        width: 100%;
        margin: 5px 0;
    }

    header h1 {
        font-size: 36px;
    }
    
    .input-section, .wokrout-list, .chart-section {
        padding: 20px;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
